.main{
    margin:10px;

}

.textbox{

margin-top: 10px;  
font-size: 18PX;
padding: 5px;
color: darkblue;
border-radius: 10px;
border: 5px solid dimgrey;


}
.text{

font-size: 25PX;
padding: 20px;
color: darkblue;
FONT-SIZE: 20PX;
margin:10px;


}


.button{
font-size: 25PX;
margin: 25PX;
PADDING: 10PX;
BACKGROUND-COLOR: cornflowerblue;
COLOR: antiquewhite;

}
.freeze{
font-size: 25PX;
margin-top: 30px;
float: right;
PADDING: 10PX;
BACKGROUND-COLOR: cornflowerblue;
COLOR: antiquewhite;
margin-right: 20px;
}
}


body
{
background-color: blanchedalmond; 
width: 100%;
background-size: cover;

}