.userphoto
{
    height: 100%;
    width: 100%;
}

body
{
 background-image: linear-gradient(rgba(241, 239, 229, 0.938), rgba(186, 200, 218, 0.856));
}
.homebar
{
 background-image: white;
}
.maindiv
{
  margin: 0%;
  background-image: linear-gradient(rgba(241, 239, 229, 0.938), rgba(186, 200, 218, 0.856));
  padding-left: 7%;
  display: inline-block;
  
}

.userphoto
{
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgdiv
{
  height: 30%;
    width: 30%;
    margin: 0px;
    display: inline-block;
}


.bdiv
{
  background: linear-gradient(rgba(251, 253, 223, 0.938), rgba(221, 201, 236, 0.3));
    border-radius: 50px;

    padding: 30px;
    margin: 2%;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
    width: 38%;
}

.bdiv:hover
{
  box-shadow: 0 0 8px 6px rgb(39, 39, 39);
    transform: scale(1.1);
}

.tdiv
{

  display: inline-block;

}

.tagdiv
{
  margin-left: 10%;
  display: inline-block;
}