.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 0.3s;
      width: 100%;
      border-radius: 5px;
      margin-right: 0px;
      margin-bottom: 5px;
      height: 80%;
      margin-left: 70px;
      display: inline-block;
      
    }
  
    .txtdiv:after{
      display: inline-block;
      width: min-content;
      height:10%;
    }
  
    .card::shadow{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    }
   
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }
    
    .img {
      border-radius: 100%;
      padding: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
  
    }
    .imgh3{
      border-radius: 5px 5px 0 0;
      margin-top: 30px;
      margin-bottom: 40px;
      background-color: cyan;
      width: 91px;
      height: 91px;
    }
    .imdiv{
        width: 188px;
        margin-right: 30%;
        height: 188px;
        padding-left: 40px;
        float: left;
        
    }
    .h2h3{
      margin-top: 30px;
      margin-bottom: 40px;
      
      width: 91px;
      height:140px;
    }
    .ph3{
      margin-top: 2px;
      margin-bottom: 120px;
      
      width: 91px;
      height:10px;
    }
    h3{
      
      margin-bottom: 5px;
      padding-right: 10%;
      padding-left: 25px;
      margin-left: 12px;
  
      
    }
    /* h2{
      
      margin-bottom: 0px;
      padding-right: 10%;
      padding-left: 40px;
      margin-left: 14px;
      
    } */
  
    span:after{
      content: "";
      display: table;
      clear: both;
    }
  
    p{
       
       padding-bottom: 10px;
       margin-top: 2px;
       width:20%;
       margin-block-start: 0em;
       margin-block-end: 0em;
       margin-left: 7px;
       padding-left: 10px;
       margin-bottom: 0px;
       padding-bottom: 30px;
       margin-right: 2px;
       height:20%;
    }
  
    
  
   .loadm{
      padding-top: 7px;
      padding-right: 10px;
      padding-bottom: 7px;
      padding-left: 10px;
      border: 1px;
      margin-top: 10px;
      width: 194px;
      margin-left: 39.7%;
      background-color: rgb(155, 95, 211);
      color: whitesmoke;
      font-size: medium;
  
   }
  
   #loader1 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    margin-left: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  #loader2 {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    margin-left: 50%;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    visibility: hidden;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
   .root{
     display: inline-block;
  
   }
  
    .container{
      padding: 2px 16px;
      display: inline-block;
      margin-bottom: 3%;
      margin-left: 2.95%;
      height:max-content;
      
    } 
  
    @media(max-width : 1177px){
        .card{
            margin-left: 150px;
        }
        .imdiv{
          width: 188px;
        }
    }
  
    @media(max-width : 955px){
        .card{
            margin-left: 40%;
        }
        .imdiv{
          width: 288px;
        }
    }
  
    @media(max-width : 414px){
      .card{
        margin-left: 600px;
      }
      .imdiv{
        width: 688px;
      }
    }
    